<h1>Top page</h1>
<%# <%= @post.content %>  <!-- controller > posts_controller.rbの@postを出力 --> 
<%# <%= @post.created_at %>   

<%# allを使ったカラム出力 --------------------------------- %>
<%# <%= @posts.content %>
<%# <%= @posts.created_at %>

<%# allを使ったカラム出力 each使用 --------------------------------- %>
<%# <% @posts.each do |post| %>
  <%# <%= post.content %> 
  <%# <%= post.created_at %> 
<%# <% end %> 

<%# 見た目整えたもの %>
<%= link_to '新規投稿', '/posts/new' %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>